.side-drawer {
  top: 0;
  bottom: 0;
  width: 70%;
  max-width: 400px;
  background: #EEEEEE;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
  transform: translateX(-105%);
  transition: transform 0.2s ease-out;
}

.sideSpacer {
  height: 70px;
}

.sideNavLink {
  text-decoration: none;
  padding-top: 20px;
  font-size: 1.4rem;
  transition: color 0.02s;
  color: #265c83;
}

.sideNavLink:hover {
  color: #ff7f50;
  cursor: pointer;
}

.sideNavLink:active {
  transition: color 0.02s;
  color: #ff4500;
}

.side-drawer.open {
  transform: translateX(0);
  transition: transform 0.2s ease-out;
}
