.contactbg {
  background-color: #374353;
  padding-bottom:1px;
  color: #f9f9f9;
}

.contacthr{
  border-color: #888888;
  margin-bottom: 25px;
}

.icon a{
  color: #f9f9f9;
}

.icon i{
  font-size: 30px;
  color: #f9f9f9;
}

.icon a:hover{
  color: #ff7f50;
  transition: color 0.02s;
}

.icon a:active{
  transition: color 0.02s;
  color: #ff4500;
}