.projectsbg {
  background-color: #eeeeee;
  padding-bottom: 1px;
}

.projectcenter {
  text-align: center;
}

.item1 {
  display: inline-block;
  height: 340px;
  width: 70%;
  max-width: 340px;
  margin: 30px;
  background-image: url(./../assets/react.png);
  border-radius: 15px;
}
.item2 {
  display: inline-block;
  height: 340px;
  width: 70%;
  max-width: 340px;
  margin: 30px;
  background-image: url(./../assets/chess.jpg);
  border-radius: 15px;
}
.item3 {
  display: inline-block;
  height: 340px;
  width: 70%;
  max-width: 340px;
  margin: 30px;
  background-image: url(./../assets/uno.png);
  border-radius: 15px;
}
.item4 {
  display: inline-block;
  height: 340px;
  width: 70%;
  max-width: 340px;
  margin: 30px;
  background-image: url(./../assets/t9.png);
  border-radius: 15px;
}

.shade {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: inherit;
}

.shade:hover{
  background-color: rgba(0, 0, 0, 0.85);
  transition: background-color 0.15s ease;
}

.itemheader {
  font-weight: bold;
  font-size: 1.9rem;
}
