div {
  text-align: center;
}

a {
  padding: 0 42px 0 42px;
}

hr.top {
  border: 1px solid #dcedff;
  width: 100%;
}

hr.bottom {
  border: 1px solid #d8e8f8;
  width: 100%;
}

.nav {
  background-color: #d8e8f8;
  position: fixed;
  margin-top: -59px;
  width: 100%;
  justify-content: center;
}

.scrolled {
  position: fixed;
  background-color: #d8e8f8;
}

.spacer {
  height: 50px;
}
.nospacer {
  height: 50px;
}

@media only screen and (min-width: 768px) {
  hr.top {
    width: 500px;
  }

  hr.bottom {
    width: 740px;
  }

  .nav {
    position: relative;
    margin-top: 0px;
    padding-top: 120px;
    width: 100%;
    justify-content: center;
    background-color: white;
    transition: background-color 0.35s ease;
  }

  .scrolled {
    transition: background-color 0.35s ease;
    position: fixed;
    background-color: #d8e8f8;
    margin-top: -180px;
  }

  .spacer {
    height: 242px;
  }
  .nospacer {
    height: 0px;
  }
}

.nav_text {
  width: 100%;
  height: 76px;
}
